<!DOCTYPE html>
<html>
<head>
  <%= render 'head' %>
</head>
<body>

<%= render 'flash_messages' %>

<%= render 'toolbars' %>

<div class="centered container">
  <div class="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
